<div class="container">
    <div class="top">
        <div class="small-heading">
            <h3>OPERATIONS AS A SERVICE</h3>
        </div>
        <div class="big-heading">
            <h1>
                A better way to build ops
            </h1>
            <h5>Agencies are slow, expensive, & require large commitments upfront.
                 Hiring in-house involves similar problems. We take a different approach: a COO-level expert
                 (Nick) on an unlimited subscription to give you the ops you need for less.</h5>
        </div>
    </div>
    <div class="bot">
        <div class="card">
            <i class="fa-solid fa-1 fa-2xl" style="color: #ffffff;"></i>
            <h2>Pause anytime</h2>
            <h5>The best systems are built in short bursts,
                 not long cycles. Don't pay for a 4 mo+ agency retainer—get 
                 what you need with us & pause or cancel your subscription anytime.</h5>
        </div>

        <div class="card">
            <i class="fa-solid fa-2 fa-2xl" style="color: #ffffff;"></i>
            <h2>No bloat</h2>
            <h5>We send you async project updates in Slack, 
                and offer weekly ops consultations for discussions or brainstorming.
                 We'll also revise systems until you're 100% satisfied.</h5>
        </div>


        <div class="card">
            <i class="fa-solid fa-3 fa-2xl" style="color: #ffffff;"></i>
            <h2>Results twice as fast</h2>
            <h5>We can start as early as tomorrow. 
                You'll hop on a thirty minute onboarding call to share 
                credentials and get set up on our PM system, and then we'll get to work.</h5>
        </div>
    </div>
</div>