.home-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: 2.2em;
    
   
}


    .home-container .element{
   display: flex;
   justify-content:center;
        min-width: 130em;

}
