<div class="container">
    <div class="headings">
        <div class="small-heading">
            <h3>SERVICES</h3>
        </div>
        <div class="heading">
            <h1>What our clients get</h1>
        </div>
    </div>

    <div class="services">
        <div class="card">
           
            <i></i>
            <h3>Lead generation</h3>

            <p>Scalable, affordable outbound & marketing systems to grow your company on autopilot.</p>
        </div>


        <div class="card">
            <i></i>
            <h3>Project management</h3>

            <p>Bespoke project management systems used by 8-figure agencies & SaaS companies.</p>
        </div>


        <div class="card">
            <i></i>
            <h3>Hiring systems</h3>

            <p>Automated processes that source, contact, and evaluate candidates for you.</p>
        </div>


        <div class="card">
            <i></i>
            <h3>AI service fulfillment</h3>

            <p>AI that automates key steps in your fulfillment process to reduce payroll.</p>
        </div>



        <div class="card">
            <i></i>
            <h3>CRM buildouts</h3>

            <p>Sales systems to track, iterate, and scale growth just like an 8-figure company.</p>
        </div>



        <div class="card">
            <i></i>
            <h3>SOPs & consultation</h3>

            <p>We'll help clarify your offer, show you what 8-figure companies are doing, and build you a library of SOPs.</p>
        </div>
    </div>
</div>