.container{
    border: 1px solid black;
    border-radius: 1.6em;
   padding: 2em;
   
}

.container .images{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly   ;
}

.container .images img{
width: 10em;
}