<div class="container center">
    <div class="mini-heading">
        <p>AUTOMATE YOUR BUSINESS</p>
    </div>
    <div class="core-offer">
        <h1>We build hands-off growth systems for B2B founders</h1>
        <h4>
            Find the perfect offer, automate your lead acquisition, & solve your project management woes—all while scaling your B2B business to 8 figures.
        </h4>
    </div>
    <div class="buttons">
        <button class="special">Book intro call -></button>
        <button class="normal">View pricing</button>
    </div>
</div>